<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      {% if link_title %}
      <a href="{{ url_for('announcement', announcement_id=announcement.id) }}">
        {{ announcement.title }}
      </a>
      {% else %}
        {{ announcement.title }}
      {% endif %}
    </div>
    <div class="panel-body">
      {{ announcement.content | render_content | safe }}
    </div>
  </div>
</div>
