<!doctype html>
<title>{{ config['CTF_NAME'] }} - Scoreboard</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/scoreboard.css') }}">
<div class="container">
  <div class="row navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('announcements') }}">{{ config['CTF_NAME'] }}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('announcements') }}">Announcements</a></li>
        {% if g.ctf_state != 'ready' %}
        <li><a href="{{ url_for('tasks') }}">Tasks</a></li>
        <li><a href="{{ url_for('scoreboard') }}">Scoreboard</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li><p class="navbar-text">Signed in as
          <a href="{{ url_for('user', user_id=current_user.id) }}">{{ current_user.name }}</a> (
            <a href="{{ url_for('signout') }}">Sign out</a>
          )
        </p></li>
        {% else %}
        <li><p class="navbar-text">
          <a href="{{ url_for('signin') }}">Sign in</a>
        </p></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

<div class="container">
{% with messages = get_flashed_messages(with_categories=True) %}
	{% if messages %}
	{% for category, message in messages %}
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    </div>
  </div>
	{% endfor %}
	{% endif %}
{% endwith %}
</div>

{% block body %}{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="static/js/bootstrap.js"></script>
<script src="static/js/scoreboard.js"></script>
