{% extends "layout.html" %}
{% block body %}

<div class="container">
  <div class="row">
    <table class="table-striped table-bordered table-condensed table-header-rotated">
      <thead>
        <tr>
          <th class="rotated" colspan="2"><div class="rotated-left-edge"></div></th>
          {% for task in tasks %}
            <th class="rotated"><div><span>{{ task.name }}</span></div></th>
          {% endfor %}
          <th class="rotated" colspan="2"><div class="rotated-right-edge"></div></th>
        </tr>
      </thead>
      <tbody>
        {% for user in ranked_users %}
        <tr class="scoreboard_row">
          <td class="scoreboard_rank">{{ loop.index }}</td>
          <td class="scoreboard_name"><a href="{{ url_for('user', user_id=user.user.id ) }}">{{ user.name }}</a></td>
          {% for solved in user.solves %}
          <td class="scoreboard_check">
            {% if solved %}
            <span class="glyphicon glyphicon-ok"></span>
            {% else %}
            <span class="glyphicon glyphicon-ok" style="opacity: 0.05;"></span>
            {% endif %}
          </td>
          {% endfor %}
          <td class="scoreboard_score">{{ user.score }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
