{% extends "layout.html" %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h4>Sign up</h4>
      <form action="/signup" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
          </span>
          {{ form.username(placeholder='Username', class='form-control') }}
        </div>
        <div class="form-group input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-lock"></i>
          </span>
          {{ form.password(placeholder='Password', class='form-control') }}
        </div>
        <div class="form-group input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-lock"></i>
          </span>
          {{ form.confirm_password(placeholder='Confirm Password', class='form-control') }}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Sign up</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
