{% extends "layout.html" %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h4>Sign in</h4>
      <form action="/signin" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
          </span>
          {{ form.username(placeholder='Username', class='form-control') }}
        </div>
        <div class="form-group input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-lock"></i>
          </span>
          {{ form.password(placeholder='Password', class='form-control') }}
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>{{ form.remember_me }}&nbsp;Remember me</label>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Sign in</button>
          {% if g.ctf_state != 'finished' %}
          <p class="help-block">
            <a class="text-muted pull-left" href="{{ url_for('signup') }}">Sign up</a>
          </p>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
