{% if current_user.is_authenticated and not g.ctf_state == 'finished' %}
<div class="modal fade" id="{{ task.name }}-modal" tabindex="-1">
  <form action="/tasks/submit/{{ task.id }}" method="POST" enctype="multipart/form-data">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="modal-title">Submit flag for {{ task.name }}</h4>
        </div>
        <div class="modal-body">
          {{ form.hidden_tag() }}
          {{ form.flag(class='form-control', placeholder='Enter flag', autofocus='') }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endif %}
