{% extends "layout.html" %}
{% block body %}

<div class="container">
  <ul class="nav nav-tabs task-categories">
    {% for category in categories %}
    <li {% if loop.first %}class="active"{% endif %}>
      <a href="#{{ category.name }}-tab" data-toggle="tab">{{ category.name }}</a>
    </li>
    {% endfor %}
  </ul>
  <div class="tab-content">
    {% for category in categories %}
    <div id="{{ category.name }}-tab" class="tab-pane{% if loop.first %} active{% endif %}">
      <div class="panel-group" id="{{ category.name }}-panel">
        {% for task in category.get_ordered_tasks() %}
          {% set is_first_task = loop.first %}
          {% include "task.html" %}
        {% endfor %}
        {% for task in category.get_ordered_tasks() %}
          {% include "submitflag.html" %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
