<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#{{ task.category.name }}-panel" href="#{{ task.name }}">
        {{ task.name }}&nbsp;<span class="badge">{{ task.scores }}</span>
        {% if current_user.is_authenticated and current_user.has_task_solved(task) %}
        <span class="pull-right glyphicon glyphicon-ok"></span>
        {% endif %}
      </a>
    </h4>
  </div>
  <div id="{{ task.name }}" class="panel-collapse collapse
    {% if is_first_task %}in{% endif %}">
    <ul class="list-group">
      <li class="list-group-item clearfix">
        Solves:&nbsp;{{ task.get_solve_count() }}
        {% if current_user.is_authenticated and not g.ctf_state == 'finished' %}
        <button type="button" class="btn btn-success pull-right" data-toggle="modal"
                data-target="#{{ task.name }}-modal"
                {% if current_user.has_task_solved(task) %}disabled{% endif %}>
          Submit
        </button>
        {% endif %}
      </li>
      <li class="list-group-item">
        {{ task.description | render_content | safe }}
      </li>
      {% if task.render_files and task.has_files()  %}
      <li class="list-group-item">
        <ul class="list-unstyled">
          {% for file in task.get_ordered_files() %}
          <li>
            {% with file_url = url_for('files.static', filename=file.filename) %}
            <a href="{{ file_url }}">{{ file.displayname or file_url }}</a>
            {% endwith %}
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
