{% extends "layout.html" %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="badge">{{ user.get_rank() }}</span>&nbsp;{{ user.name }}
      </div>
      <table class="table">
        <tbody>
          {% for solve in user.get_chronological_solves() %}
          <tr>
            <td>{{ solve.timestamp | render_datetime(solve=True) }}</td>
            <td><span class="label label-default">{{ solve.task.category.name }}</span>&nbsp;{{ solve.task.name }}</td>
            <td style="text-align: right;">{{ solve.task.scores }}</td>
          </tr>
          {% else %}
          <tr>
            <td>Nothing solved yet!</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
