body {
	padding-top: 20px;
}

ul.task-categories {
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
}

.table-header-rotated {
  border: 0;
}

.table-header-rotated thead td {
  width: 30px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  vertical-align: middle;
  text-align: center;
}

table.table-header-rotated thead th.rotated {
  height: 80px;
  width: 30px;
  min-width: 30px;
  max-width: 30px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 10px;
  line-height: 0.8;
  border: 0;
}

.table-header-rotated th.rotated > div {
  position: relative;
  top: 0px;
  left: -40px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  -ms-transform:skew(45deg,0deg);
  -moz-transform:skew(45deg,0deg);
  -webkit-transform:skew(45deg,0deg);
  -o-transform:skew(45deg,0deg);
  transform:skew(45deg,0deg);
  overflow: hidden;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.table-header-rotated th.rotated > div.rotated-left-edge {
  border-top-color: white;
  border-left-color: white;
}

.table-header-rotated th.rotated > div.rotated-right-edge {
  border-top-color: white;
  border-right-color: white;
}

.table-header-rotated th.rotated span {
  transform:skew(-45deg,0deg) rotate(45deg);
  position: absolute;
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -30px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  /* width: 100%; */
  width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
  /* white-space: nowrap; /*whether to display in one line or not*/
}

tr.scoreboard_row td {
  vertical-align: middle;
}

tr.scoreboard_row td.scoreboard_rank {
  min-width: 30px;
  text-align: center;
  vertical-align: middle;
}

tr.scoreboard_row td.scoreboard_name {
  text-align: left;
  vertical-align: middle;
	min-width: 80px;
}

tr.scoreboard_row td.scoreboard_check {
  text-align: center;
  vertical-align: middle;
  width: 30px;
  min-width: 30px;
  max-width: 30px;
}

tr.scoreboard_row td.scoreboard_score {
  text-align: right;
  vertical-align: middle;
}
